<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website</title>
    <link rel="stylesheet" href="css/texts.css">
    <link rel="stylesheet" href="css/bg.css">
    <link rel="stylesheet" href="css/fireworks.css">
    <link rel="stylesheet" href="css/buttons.css">
</head>
<body>
    <div id="main-text">
        <h1>Happy Birthday Jupiter!</h1>
    </div>
    <div class="firework"></div>
    <div class="firework"></div>
    <div class="firework"></div>
    <div id="qa-text">
        <h1>beliau sudah umur berapa?</h1>
        <input type="text" id="age" placeholder="Umur Berapa?">
        <button id="btn">
            Konfirmasi
        </button>
        <h1 id="true-age"></h1>
    </div>

    <script src="js/main.js">

    </script>
</body>
</html>